*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    /* background-color:  #23003C; */
background: #000b35;

    color: white;
    font-family: 'Nunito Sans', sans-serif;

}
.logo{
    height: 6rem;
    width: 15rem;
    /* border: 2px solid black; */
    margin-left: 5rem;
    
}
nav {
    display: flex;
    /* background-color: rgba(255, 255, 255, 0.02); */
    color: white;
    /* background-color:  #23003C; */
background: #00092A;

    height: 4rem;
    align-items: center;
    
}
nav ul{
    /* border: 2px solid red; */
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
}
nav ul li:nth-child(1){
    /* border: 2px solid orange; */
    margin-left: 5rem;
}
.search{
    margin-left:9rem ;
}

.one{
    width: 100%;
    margin-top: 4rem;
    /* margin-left: 27rem; */
    margin-left: 27rem;
    
}
.one p:first-child{
    /* color: rebeccapurple; */
    font-size: 1.2rem;
}
.one p:nth-child(2){
    margin-top: .5rem;
}
.red{
    width: 4rem;
}
th{
    /* float: left; */
    /* border: 2px solid red; */
    text-align:start;
    /* margin-right: 5rem; */
}
.green{
    height: 2rem;
    width: 3.5rem;
}
table{
    margin-top: 2.5rem;

width: 78rem;
}
table tr{

    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

tr td:nth-child(4){
    /* width: 100rem; */
    /* border: 2px solid red; */
    position: relative;
    margin-left: 5rem;
}
td:nth-child(3){
    /* text-align: left; */
    /* border: 2px solid red; */
    width:4.5rem;
    text-align: right;
    margin-left: 3rem;
    /* padding: 1rem; */
}
td:nth-child(4){
    /* text-align: left; */
    /* border: 2px solid red; */
    width: 5.5rem;
    text-align: left;
    /* padding: 1rem; */
}
td:nth-child(1){
    display: flex;
    width: 8rem;
    justify-content: space-between;
}
table tr td:nth-child(1) img{
    /* color: rebeccapurple; */
    height: 1.5rem;
    width: 1.5rem;
}
td span{
    color: grey;
}

.viewbtn{
    background-image: linear-gradient(to right, #3DD8EE
    , #0997E8
    );
    font-size: 1.3rem;
    padding: 1.5rem;
    width: fit-content;
    display: block;
    margin: auto;
    color: white;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-left: 35rem;
    border: 0;
    border-radius: .4rem;

}

.two{
background: #00092A;
margin-top: 4rem;
display: flex;
justify-content: space-around;
padding: 2rem;
/* padding: 10rem; */
}

.two div{
    /* border: 2px solid white; */
    /* width: 50%; */
}
.two div:nth-child(1) img:nth-child(1){
    position: relative;
    margin-bottom:15rem;
    
}
.two div:nth-child(1) img:nth-child(3){
    position: relative;
    /* margin-bottom: 3rem; */
    margin-right: 3rem;

    /* top: 5rem; */
    /* bottom: 1rem; */
    
}
.map2{
height: 20rem;
width: 20rem;
}
.e1{
    position:absolute;
    margin-left: -30rem;
    

}
.e2{
    position: absolute;
    margin-left: -34rem;
    margin-top: 4rem;


}
ul{
    list-style: none;
}
.twodiv{
    padding-left: 5rem;
}
.twodiv img{
    padding: 1.5rem;
    background-color:  #0F1535;;

}
.twodiv h3{
    /* border: 2px solid red; */
    /* width: 30rem; */
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    /* margin-top: 1rem; */
}
.p{
    width: 30rem;
}
.twodiv ul li{
    display: flex;
    margin-top: 2rem;
    /* justify-content: space-evenly; */
}
.twodiv ul li span{
    margin-left: 2rem;
}
.twodiv ul li p {
    width: 20rem;
    margin-top: .5rem;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
}
.g198{
    position: absolute;
    /* border: 2px solid red; */
    margin-top: -8rem;
    margin-left: -33rem;
}
.g20{
    position: absolute;
    /* border: 2px solid red; */
    margin-left: -17rem;
    margin-top: 5rem;
}
.g350{
position: absolute;    
margin-top: 15rem;
margin-left: -45rem;
}
.gs{
    /* border: 2px solid red; */
    position: absolute;
    margin-top: 10rem;
    margin-left: -33rem;
}
.ge{
    position: absolute;
    margin-top: 7rem;
    margin-left: -4rem; 
    
}
.gb{
    position: absolute;
    margin-top: 25rem;
    margin-left: -15rem; 
    
}
.three{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}
.three div{
    /* border: 2px solid white; */
    width: fit-content;
}
.three1 h4{
    font-size: 2rem;
    margin-top: .5rem;
    font-weight: 600;

}
.three ul{
    margin-top: 3rem;
}
.three ul li{
    display: flex;
    margin-top: 1rem;

}
.three1 span{
    margin-left: 1rem;
}
.three1 p{
    margin-top: .4rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    /* border: 2px solid red; */
    width: 27rem;
}
.three2{
    /* display: flex; */
    /* height: fit-content; */
}
.g37{
    height: 20rem;
    width: 40rem;
    margin-top: 2rem;
}
.g48{
    position: absolute;
    height: 30rem;
    width: 20rem;
    margin-left: -30rem;
    margin-top: -2rem;
    
}

footer{
    background-color: #00092A;
    display: flex;
    /* justify-content: space-evenly; */
    padding-top: 1rem;
    padding-bottom: 3rem;
}
footer div{
    /* border: 2px solid white; */
    width: 50%;
}
.f1{
    padding-left: 5rem;
}
.f1 img{
    width: 30rem;
    height: 8rem;
}
.f1 p{
    width: 50rem;
}
.f2 {
display: flex;
justify-content: space-around;
}
.f2 ul li{
    margin-top: 1rem;
    font-weight: 400;
}
.f2 li:nth-child(1){
    /* color: red; */
    font-style: normal;
    font-size: 1.3rem;
}

.four{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 1280px) and (min-width: 992px)  {
  body{
      /* background-color: red; */
  }
  .one{
      margin-left: 22rem;
  }
} 
@media only screen and (max-width: 1024px) and (min-width: 992px)  {
    body{
        /* background-color: blue; */
    }
    .one{
      margin-left: 12.5rem;

    }
}
@media only screen and (max-width: 992px) and (min-width: 768px)  {

    body{
        /* background-color: blue; */
    }
    .one{
        margin-left: 7rem;
    }
    .two{
    justify-content: space-between;
    }

    .f1 p{
        width: 38rem;
    }
}
@media only screen and (width:820px)  {
    body{
    }
    .one{
        margin-left: 1.3rem;
    }
    /* .two{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .twoone{
    }
    .twodiv{
        margin-top: 14rem;
    } */
    .two{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .twodiv{
        margin-top: 15rem;
        margin-left: -5rem;
    
    }
    .twodiv h3{
        font-size: 6rem;
    }
    
    .p {
        width: 65rem;
        font-size: 2rem;
    }.twodiv img {
        padding: 4.5rem;
        background-color: #0F1535;
    }
    span h4{
        font-size: 3rem;
    }.twodiv ul li p {
        width: 54rem;
        font-size: 2rem;
    }
    .twoone{
        margin-left: -10rem;
    }
    

}


@media only screen and (max-width:768px) and (min-width: 600px) {
body{
}
html{
    font-size: 50%;
}
.one{
    margin-left: 9rem;
}
.two{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.twodiv{
    margin-top: 20rem;
    margin-left: -5rem;

}
.twodiv h3{
    font-size: 7rem;
}
.p {
    width: 65rem;
    font-size: 2rem;
}.twodiv img {
    padding: 4.5rem;
    background-color: #0F1535;
}
span h4{
    font-size: 3rem;
}.twodiv ul li p {
    width: 54rem;
    font-size: 2rem;
}
.twoone{
    margin-left: -10rem;
}
.gb{
    margin-left: -10rem;
}
.f1 p{
    width: 33rem;
}
}

@media only screen and (max-width:600px) and (min-width: 350px)  {
body{
    /* background-color: red; */
}


html{
    font-size: 40%;
}
.fa-arrow-down{
    font-size: 1.5rem;
}
.logo{
    margin-left: 1rem;
    height: 2.3rem;
}
.search{
    margin-left: 2rem;
}
nav{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5rem;
}
nav ul{
    /* margin-top: -4rem; */
}
nav li{
    /* margin-left: .5rem; */
}
.one{
    margin-left: 2.3rem;
    overflow: hidden;
    overflow-x: auto;
}
.one::-webkit-scrollbar {
    display: none;
  }
  .map1{
      margin-left: 22rem;
  }
  .e1 {
    position: absolute;
    margin-left: -48rem;
    margin-top: -25rem;
}
.e2 {
    position: absolute;
    margin-left: -54rem;
    margin-top: -21rem;
}
.g198 {
    position: absolute;
    margin-top: -37rem;
    margin-left: -48rem;
}
.g350 {
    position: absolute;
    margin-top: -1rem;
    margin-left: -59rem;
}
.g20 {
    position: absolute;
    /* border: 2px solid red; */
    margin-left: -38rem;
    margin-top: -16rem;
}
.gs {
    /* border: 2px solid red; */
    position: absolute;
    margin-top: -4rem;
    margin-left: -51rem;
}
.ge {
    position: absolute;
    margin-top: -12rem;
    margin-left: -8rem;
}
.gb {
    position: absolute;
    margin-top: 13rem;
    margin-left: -15rem;
}
  
.two {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.twoone{
    margin-left: 12rem;
}
.twodiv{
    margin-top: 12rem;
    padding-left: 4rem;
}
.twodiv h3{
    width: 51rem;
    font-size: 4.5rem;
}
.p{
    width: 43rem;
    font-size: 2.1rem;
}
.twodiv img {
    padding: 4.5rem;
    background-color: #0F1535;
}
h4{
    font-size: 3rem;
}
.twodiv ul li span p{
    font-size: 2rem;
    width: 44rem;
}
.three{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.three1 h4 {
    font-size: 5rem;
}
.fa{
    font-size: 3rem;
}
.three ul li {
    display: flex;
    margin-top: 4rem;
}
h5{
    font-size: 3rem;
}
.three1 p{
    width: 37rem;
    font-size: 2rem;
}
.g37{
    width: 55rem;
}
.g48{
    margin-left: -39rem;
}

.three2 {
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.f1{
    padding-left: 2rem;
}
.f1 img {
    width: 20rem;
    height: 8rem;
}
.f1 p {
    width: 23rem;
}
}

@media only screen and (max-width:400px)  and (min-width: 350px)  {
body{
    /* background-color: red; */
}


.twoone{
    margin-left: 7rem;
}
}

@media only screen and (width:360px)  {
.twoone{
    margin-left: 4rem;
    padding-left: .9rem;
}

.twodiv{
    padding-left: 8rem;
    /* margin-left: 5rem; */
}
}

